@use "../../../styles/variables" as v;
#container {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  margin: 0 64px;
  background-color: v.$intapp-surface;
  padding: 32px;

  h1 {
    margin-top: 0;
  }
}

#buttons {
  display: flex;
  justify-content: end;
  margin-bottom: 8px;
}

mat-spinner {
  margin: 16px auto;
}
