@use "../../../styles/variables" as v;
#container {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  margin: 0 64px;
  background-color: v.$intapp-surface;
  padding: 32px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    h1 {
      margin: 0;
    }
  }

  #filter {
    max-width: 600px;
    margin-bottom: 8px;

    form {
      display: flex;
      gap: 8px;
    }

    button {
      height: stretch;
    }
  }

  mat-spinner {
    margin: 16px auto;
  }
}
