$intapp-blue:        #207CEC;
$intapp-blue-dark:   #003C80;
$intapp-navy:        #021123;
$intapp-horizon:     #6BA8FF;
$intapp-bright:      #22ECCF;
$intapp-red:         #AC1A47;
$intapp-slate:       #A4B9D7;
$intapp-stone:       #A99A95;
$intapp-neutral:     #9F9F9F;
$intapp-surface:     #FAFAFA;
$intapp-border:      #CAD2DB;
$intapp-text:        #212121;
$intapp-text-muted:  #536E8D;
