@use "@angular/material" as mat;
@use "styles/variables" as v;

@include mat.core();

$intapp-blue-palette: (
  50: #e4f0fd,
  100: #bbd9fb,
  200: #8ec0f8,
  300: #61a7f5,
  400: #3f94f0,
  500: #207cec,
  600: #1c74e4,
  700: #1769da,
  800: #135fd1,
  900: #003c80,
  A100: #d7e3ff,
  A200: #a4bfff,
  A400: #6ba8ff,
  A700: #4a8eff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white
  )
);

$intapp-horizon-palette: (
  50: #eef4ff,
  100: #d4e3ff,
  200: #b7d0ff,
  300: #9abdff,
  400: #82afff,
  500: #6ba8ff,
  600: #4f93f0,
  700: #3a7fdc,
  800: #2a6cc6,
  900: #1855a8,
  A100: #ffffff,
  A200: #e0ecff,
  A400: #a4c4ff,
  A700: #88b4ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87)
  )
);

$intapp-red-palette: (
  50: #f5e4ea,
  100: #e6bccb,
  200: #d68fa8,
  300: #c66285,
  400: #b9416a,
  500: #ac1a47,
  600: #a51740,
  700: #9b1337,
  800: #920f2f,
  900: #82081f,
  A100: #ffb3c2,
  A200: #ff8099,
  A400: #ff4d70,
  A700: #ff3360,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white
  )
);

$termsheet-frontend-primary: mat.define-palette($intapp-blue-palette, 900, 300, 900);
$termsheet-frontend-accent: mat.define-palette($intapp-horizon-palette, 600, 200, 700);
$termsheet-frontend-warn: mat.define-palette($intapp-red-palette, 500, 300, 900);

$termsheet-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $termsheet-frontend-primary,
      accent: $termsheet-frontend-accent,
      warn: $termsheet-frontend-warn
    ),
    typography: mat.define-typography-config(
        $font-family: 'Inter, Roboto, "Helvetica Neue", sans-serif'
      ),
    density: 0
  )
);

@include mat.all-component-themes($termsheet-frontend-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
  color: v.$intapp-text;
  background-color: v.$intapp-navy;
}

mat-form-field {
  width: 100%;
}
